@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lobster&display=swap");

html {
    scroll-behavior: smooth;
    height: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

body {
    @include font-regular;
    font-weight: 400;
    color: rgb(60, 50, 50);
    height: 100%;
}
