$brk: 620px;
$color-accent: #FF006F;

.section {
    min-height: 100vh;
}

.section-container {
    padding-top: $header-width;
    min-height: calc(100vh - $header-width);
}

.btn {
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.btn-primary {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem 3rem;
    border-radius: 0.6rem;
    font-weight: 700;
    transition: 200ms;
}

.btn-primary:hover {
    background-color: rgba(255, 128, 55, 0.3);
}

p {
    line-height: 1.8;
    font-size: 1.2rem;
}

.snap-mandatory {
    scroll-snap-type: y mandatory;
}

.snap-proximity {
    scroll-snap-type: none;
}

.divider {
    background-color: $color-accent;
    height: 10px;
    width: 100vw;
    transform: scaleX(0);
}