#header {
    z-index: 2;
    background-color: transparent;
    @include font-regular;
    .container {
        max-width: 50rem;
        margin-left: 3rem;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 6rem;
    }
    height: $header-width;
    width: 100%;
    color: inherit;
    position: fixed;
    top: 0;
    .logo {
        font-size: 2rem;
    }
    .menu {
        font-size: 2rem;
        position: absolute;
        right: 3rem;
    }
    ul {
        display: flex;
        gap: 3rem;
        text-decoration: none;
        list-style: none;
    }
    li {
        border-bottom: 2px solid transparent;
        transition: 300ms;
    }
    li:hover {
        border-bottom: 2px solid currentColor;
    }
}
