$header-width: 50px;

@mixin font-special {
    font-family: "Lobster", sans-serif;
}

@mixin font-regular {
    font-family: "Fira Sans", sans-serif;
}

@mixin snap($value) {
    scroll-snap-align: $value;
}

@mixin title {
    font-size: clamp(4rem, 10vw, 7rem)
}