#section-1 {
    @include snap(start);
    background-image: url("./assets/bg.jpg");
    // Photo by Meiying Ng on Unsplash
    background-size: cover;
    .container {
        max-width: 60rem;
        margin: auto;
    }
    .hero {
        padding: 20vh 3rem;
        @media (max-width: $brk) {
            padding-top: 15vh;
        }
        max-width: max-content;
        &__subtitle {
            font-size: clamp(1.3rem, 5vw, 2rem);
        }
        &__title {
            @include font-regular;
            font-size: clamp(3.5rem, 10vw, 7rem);
            margin: 0.5rem 0 0.5rem -0.8rem;
            letter-spacing: 4px;
            @media (max-width: $brk) {
                margin: 2rem 0;
            }
        }
        .suffix {
            text-align: right;
            @media (max-width: $brk) {
                text-align: left;
            }
        }
        .btn {
            font-size: clamp(1.2rem, 4vw, 1.5rem);
            margin-top: 2rem;
            float: right;
            display: flex;
            align-items: center;
            transition: 300ms;
            @media (max-width: $brk) {
                position: absolute;
                background: rgba(white, 0.2);
                padding: 1rem;
                width: 100vw;
                left: 0;
                display: flex;
                justify-content: center;
            }
        }

        .arrow {
            background-color: currentColor;
            height: 4px;
            border-radius: 2px;
        }
        .line {
            margin-left: 20px;
            width: 30px;
            transition: 300ms ease-in-out;
        }
        .pointer1 {
            width: 16px;
            transform-origin: right;
            transform: translateX(-17px) rotate(45deg);
        }
        .pointer2 {
            width: 16px;
            transform-origin: right;
            transform: translateX(-33px) rotate(-45deg);
        }
        .btn:hover .line {
            width: 100px;
        }
    }

    .down-arrow {
        color: white;
        position: relative;
        bottom: 10px;
        left: 50%;
        transition: 300ms;
        &:hover {
            transform: scale(1.5);
            cursor: pointer;
        }
    }
}
