#section-4 {
    @include snap(start);
    .container {
        padding: 3rem 3rem;
        max-width: 60rem;
        margin: auto;
    }
    .contact__title {
        @include title;
        margin-bottom: 3rem;
    }
    .contact__par {
        display: block;
        text-align: justify;
        @media (max-width: $brk) {
            font-size: 1.1rem;
        }
    }
    .contact__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        @media (max-width: $brk) {
            display: block;
        }
    }
    .column--left {
        display: grid;
        @media (max-width: $brk) {
            display: block;
        }
        gap: 1rem;
        &__item {
            transition: 300ms;
            display: grid;
            grid-template-columns: 40px 5fr;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            @media (max-width: $brk) {
                margin: 1rem 0;
            }
            .socials__desc {
                @media (max-width: $brk) {
                    font-size: 0.9rem;
                    letter-spacing: 1.5px;
                }
            }
        }
        .contact-item:hover {
            color: rgb(255, 0, 98)
        }
        &__item--wide {
            align-items: center;
            padding: 0;
            display: block;
        }
        i {
            font-size: 2rem;
        }
    }
    form {
        display: grid;
        grid-template-columns: 1;
        padding-top: 1rem;
    }
    input,
    textarea {
        $bgc: rgba(gray, 0.03);
        margin-bottom: 2rem;
        padding: 1rem;
        font-size: 1rem;
        font-family: inherit;
        border: 2px solid transparent;
        border-radius: 0.5rem;
        outline: none;
        background-color: $bgc;
        transition: all 300ms;
        &:focus {
            border: 2px solid $color-accent;
            background-color: white;
        }
    }
    textarea {
        height: 7rem;
        resize: none;
    }
    label {
        margin-bottom: 0.2rem;
        margin-left: 0.2rem;
        letter-spacing: 1.5px;
        font-size: inherit;
    }
    #form__submit {
        transition: all 300ms;
        cursor: pointer;
        &:hover {
            border: 2px dotted $color-accent;
            background-color: white;
        }
    }
}

