#section-3 {
    @include snap(start);
    position: relative;
    padding-bottom: 10rem;
    &::before {
        z-index: -1;
        position: absolute;
        opacity: 0.1;
        background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url(./assets/bg2.png);
        background-size: cover;
        content: "";
        inset: 0;
    }
    .container {
        padding: 3rem 3rem;
        max-width: 60rem;
        margin: auto;
    }
    .about__title {
        @include title
    }
    .about__par {
        margin-top: 2rem;
        text-align: justify;
        @media (max-width: $brk) {
            font-size: 1.1rem;
        }
    }
    .about__grid {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
        @media (max-width: $brk) {
            grid-template-columns: 1fr;
        }
        .bold {
            font-weight: 600;
        }
        .grid__img {
            align-self: center;
            grid-column: span 1;
            width: 100%;
            @media (max-width: $brk) {
                width: 60%;
                max-width: 8rem;
                justify-self: center;
                margin-top: 2rem;
            }
        }
        .grid__par {
            grid-column: span 5;
            text-align: justify;
            @media (max-width: $brk) {
                grid-column: span 1;
                font-size: 1rem;
            }
        }
        @for $i from 1 to 7 {
            #grid__el#{$i} { order: $i }
        }
        @media (min-width: $brk) {
            #grid__el3 { order: 4 }
            #grid__el4 { order: 3 }
        }

    }

}