@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  min-height: 100vh;
}

.section-container {
  padding-top: 50px;
  min-height: calc(100vh - 50px);
}

.btn {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

.btn-primary {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem 3rem;
  border-radius: 0.6rem;
  font-weight: 700;
  transition: 200ms;
}

.btn-primary:hover {
  background-color: rgba(255, 128, 55, 0.3);
}

p {
  line-height: 1.8;
  font-size: 1.2rem;
}

.snap-mandatory {
  scroll-snap-type: y mandatory;
}

.snap-proximity {
  scroll-snap-type: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow: auto;
}

body {
  scroll-behavior: smooth;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #3c3232;
  height: 100%;
}

#header {
  z-index: 2;
  background-color: transparent;
  font-family: "Fira Sans", sans-serif;
  height: 50px;
  width: 100%;
  color: inherit;
  position: fixed;
  top: 0;
}
#header .container {
  max-width: 50rem;
  margin-left: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 6rem;
}
#header .logo {
  font-size: 2rem;
}
#header .menu {
  font-size: 2rem;
  position: absolute;
  right: 3rem;
}
#header ul {
  display: flex;
  gap: 3rem;
  text-decoration: none;
  list-style: none;
}
#header li {
  border-bottom: 2px solid transparent;
  transition: 300ms;
}
#header li:hover {
  border-bottom: 2px solid currentColor;
}

#section-1 {
  scroll-snap-align: start;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
}
#section-1 .container {
  max-width: 60rem;
  margin: auto;
}
#section-1 .hero {
  padding: 20vh 3rem;
  max-width: max-content;
}
@media (max-width: 620px) {
  #section-1 .hero {
    padding-top: 15vh;
  }
}
#section-1 .hero__subtitle {
  font-size: clamp(1.3rem, 5vw, 2rem);
}
#section-1 .hero__title {
  font-family: "Fira Sans", sans-serif;
  font-size: clamp(3.5rem, 10vw, 7rem);
  margin: 0.5rem 0 0.5rem -0.8rem;
  letter-spacing: 4px;
}
@media (max-width: 620px) {
  #section-1 .hero__title {
    margin: 2rem 0;
  }
}
#section-1 .hero .suffix {
  text-align: right;
}
@media (max-width: 620px) {
  #section-1 .hero .suffix {
    text-align: left;
  }
}
#section-1 .hero .btn {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  margin-top: 2rem;
  float: right;
  display: flex;
  align-items: center;
  transition: 300ms;
}
@media (max-width: 620px) {
  #section-1 .hero .btn {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    width: 100vw;
    left: 0;
    display: flex;
    justify-content: center;
  }
}
#section-1 .hero .arrow {
  background-color: currentColor;
  height: 4px;
  border-radius: 2px;
}
#section-1 .hero .line {
  margin-left: 20px;
  width: 30px;
  transition: 300ms ease-in-out;
}
#section-1 .hero .pointer1 {
  width: 16px;
  transform-origin: right;
  transform: translateX(-17px) rotate(45deg);
}
#section-1 .hero .pointer2 {
  width: 16px;
  transform-origin: right;
  transform: translateX(-33px) rotate(-45deg);
}
#section-1 .hero .btn:hover .line {
  width: 100px;
}
#section-1 .down-arrow {
  color: white;
  position: relative;
  bottom: 10px;
  left: 50%;
  transition: 300ms;
}
#section-1 .down-arrow:hover {
  transform: scale(1.5);
  cursor: pointer;
}

#section-2 {
  scroll-snap-align: start;
}
#section-2 .container {
  padding: 3rem 3rem;
  max-width: 60rem;
  margin: auto;
}
#section-2 .title {
  font-size: clamp(4rem, 10vw, 7rem);
}
#section-2 .project {
  padding-top: 3rem;
}
#section-2 .project__num {
  font-size: 4rem;
  margin-bottom: -6rem;
  text-align: right;
}
@media (max-width: 620px) {
  #section-2 .project__num {
    font-size: 2rem;
    margin-bottom: -3rem;
  }
}
#section-2 .project__title {
  border-bottom: 10px solid currentColor;
  font-size: 3rem;
  margin: 2rem 0;
}
@media (max-width: 620px) {
  #section-2 .project__title {
    font-size: 1.7rem;
  }
}
#section-2 .project__desc {
  text-align: justify;
  margin: 2rem 0;
}
@media (max-width: 620px) {
  #section-2 .project__desc {
    font-size: 1rem;
  }
}
#section-2 .project__url {
  border-bottom: 2px solid transparent;
  transition: 300ms;
}
@media (max-width: 620px) {
  #section-2 .project__url {
    text-align: right;
    line-height: 1.7;
  }
}
#section-2 .project__url:hover {
  border-bottom: 2px solid currentColor;
}
#section-2 .project__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  width: 100%;
  padding: 2rem 0;
}
#section-2 .project__img {
  border-radius: 5px;
  max-width: 100%;
}
#section-2 .project__img--big {
  grid-column: span 2;
}
#section-2 .project__img--small {
  grid-column: span 1;
}

#section-3 {
  scroll-snap-align: start;
  position: relative;
  padding-bottom: 10rem;
}
#section-3::before {
  z-index: -1;
  position: absolute;
  opacity: 0.1;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(./assets/bg2.png);
  background-size: cover;
  content: "";
  inset: 0;
}
#section-3 .container {
  padding: 3rem 3rem;
  max-width: 60rem;
  margin: auto;
}
#section-3 .about__title {
  font-size: clamp(4rem, 10vw, 7rem);
}
#section-3 .about__par {
  margin-top: 2rem;
  text-align: justify;
}
@media (max-width: 620px) {
  #section-3 .about__par {
    font-size: 1.1rem;
  }
}
#section-3 .about__grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}
@media (max-width: 620px) {
  #section-3 .about__grid {
    grid-template-columns: 1fr;
  }
}
#section-3 .about__grid .bold {
  font-weight: 600;
}
#section-3 .about__grid .grid__img {
  align-self: center;
  grid-column: span 1;
  width: 100%;
}
@media (max-width: 620px) {
  #section-3 .about__grid .grid__img {
    width: 60%;
    max-width: 8rem;
    justify-self: center;
    margin-top: 2rem;
  }
}
#section-3 .about__grid .grid__par {
  grid-column: span 5;
  text-align: justify;
}
@media (max-width: 620px) {
  #section-3 .about__grid .grid__par {
    grid-column: span 1;
    font-size: 1rem;
  }
}
#section-3 .about__grid #grid__el1 {
  order: 1;
}
#section-3 .about__grid #grid__el2 {
  order: 2;
}
#section-3 .about__grid #grid__el3 {
  order: 3;
}
#section-3 .about__grid #grid__el4 {
  order: 4;
}
#section-3 .about__grid #grid__el5 {
  order: 5;
}
#section-3 .about__grid #grid__el6 {
  order: 6;
}
@media (min-width: 620px) {
  #section-3 .about__grid #grid__el3 {
    order: 4;
  }
  #section-3 .about__grid #grid__el4 {
    order: 3;
  }
}

#section-4 {
  scroll-snap-align: start;
}
#section-4 .container {
  padding: 3rem 3rem;
  max-width: 60rem;
  margin: auto;
}
#section-4 .contact__title {
  font-size: clamp(4rem, 10vw, 7rem);
  margin-bottom: 3rem;
}
#section-4 .contact__par {
  margin-top: 2rem;
  text-align: justify;
}
@media (max-width: 620px) {
  #section-4 .contact__par {
    font-size: 1.1rem;
  }
}
#section-4 .contact__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
@media (max-width: 620px) {
  #section-4 .contact__grid {
    display: block;
  }
}
#section-4 .column--left {
  display: grid;
  gap: 1rem;
}
@media (max-width: 620px) {
  #section-4 .column--left {
    display: block;
  }
}
#section-4 .column--left * {
  margin: 0;
}
#section-4 .column--left__item {
  display: grid;
  grid-template-columns: 40px 5fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 620px) {
  #section-4 .column--left__item {
    margin: 1rem 0;
  }
}
@media (max-width: 620px) {
  #section-4 .column--left__item .socials__desc {
    font-size: 0.8rem;
  }
}
#section-4 .column--left__item--wide {
  align-items: center;
  padding: 0;
  display: block;
}
#section-4 .column--left i {
  font-size: 2rem;
}
#section-4 form {
  display: grid;
  grid-template-columns: 1;
  padding-top: 1rem;
}
#section-4 input,
#section-4 textarea {
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: inherit;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  outline: none;
  background-color: rgba(128, 128, 128, 0.03);
  transition: all 300ms;
}
#section-4 input:focus,
#section-4 textarea:focus {
  border: 2px dotted currentColor;
  background-color: white;
}
#section-4 textarea {
  height: 7rem;
  resize: none;
}
#section-4 label {
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
  letter-spacing: 1.5px;
  font-size: inherit;
}
#section-4 #form__submit {
  transition: all 300ms;
  cursor: pointer;
}
#section-4 #form__submit:hover {
  border: 2px dotted currentColor;
  background-color: white;
}

.navbar {
  --radius: 130vmax;
  position: fixed;
  top: calc(-1 * var(--radius) - 25vh);
  left: calc(-1 * var(--radius) + 50vw);
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  border-radius: 50%;
  background-color: white;
  color: #3c3232;
  z-index: 100;
}
.navbar .container {
  padding-bottom: 8rem;
  height: 100%;
}
.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  text-decoration: none;
  list-style: none;
}
.navbar li {
  width: 100%;
  font-size: 1.4rem;
  padding: 0.8rem;
  text-align: center;
}
.navbar i {
  font-size: 3rem;
}

.hidden {
  display: none;
}

@media (max-width: 620px) {
  .desktop {
    display: none !important;
  }
}

@media (min-width: 621px) {
  .mobile {
    display: none !important;
  }
}

/*# sourceMappingURL=main.css.map */
