@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  min-height: 100vh;
}

.section-container {
  padding-top: 50px;
  min-height: calc(100vh - 50px);
}

.btn {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

.btn-primary {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem 3rem;
  border-radius: 0.6rem;
  font-weight: 700;
  transition: 200ms;
}

.btn-primary:hover {
  background-color: rgba(255, 128, 55, 0.3);
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #3c3232;
  overflow: hidden;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: block mandatory;
}

#header {
  z-index: 2;
  background-color: transparent;
  font-family: "Fira Sans", sans-serif;
  height: 50px;
  width: 100%;
  color: inherit;
  position: fixed;
  top: 0;
}
#header .container {
  max-width: 50rem;
  margin-left: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 6rem;
}
#header .logo {
  font-size: 2rem;
}
#header ul {
  display: flex;
  gap: 3rem;
  text-decoration: none;
  list-style: none;
}
#header li {
  border-bottom: 2px solid transparent;
  transition: 300ms;
}
#header li:hover {
  border-bottom: 2px solid currentColor;
}

#section-1 {
  scroll-snap-align: start;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
}
#section-1 .container {
  max-width: 60rem;
  margin: auto;
}
#section-1 .hero {
  padding: 20vh 3rem;
  max-width: max-content;
}
#section-1 .hero__subtitle {
  font-size: clamp(1rem, 5vw, 2rem);
}
#section-1 .hero__title {
  font-family: "Fira Sans", sans-serif;
  font-size: clamp(3rem, 10vw, 7rem);
  margin: 0.5rem 0 0.5rem -0.8rem;
  letter-spacing: 4px;
}
#section-1 .hero .suffix {
  text-align: right;
}
#section-1 .hero .btn {
  font-size: clamp(0.8rem, 4vw, 1.5rem);
  margin-top: 2rem;
  float: right;
  display: flex;
  align-items: center;
  transition: 300ms;
}
#section-1 .hero .arrow {
  background-color: currentColor;
  height: 4px;
  border-radius: 2px;
}
#section-1 .hero .line {
  margin-left: 20px;
  width: 30px;
  transition: 300ms ease-in-out;
}
#section-1 .hero .pointer1 {
  width: 16px;
  transform-origin: right;
  transform: translateX(-17px) rotate(45deg);
}
#section-1 .hero .pointer2 {
  width: 16px;
  transform-origin: right;
  transform: translateX(-33px) rotate(-45deg);
}
#section-1 .hero .btn:hover .line {
  width: 100px;
}
#section-1 .down-arrow {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transition: 300ms;
}
#section-1 .down-arrow:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.ballon-container {
  position: absolute;
}

.ballon {
  z-index: 0;
  color: #c28555;
  position: absolute;
  transform: rotate(-1deg);
  width: 5rem;
}

#section-2 {
  scroll-snap-align: start;
  position: relative;
}
#section-2 .container {
  padding: 3rem 3rem;
  max-width: 60rem;
  margin: auto;
}
#section-2 .title {
  font-size: 7rem;
}
#section-2 .project {
  padding-top: 3rem;
}
#section-2 .project__num {
  font-size: 4rem;
  margin-bottom: -6rem;
  text-align: right;
}
#section-2 .project__title {
  border-bottom: 10px solid currentColor;
  font-size: 3rem;
  margin: 2rem 0;
}
#section-2 .project__desc {
  text-align: justify;
  margin: 2rem 0;
}
#section-2 .project__url {
  border-bottom: 2px solid transparent;
  transition: 300ms;
}
#section-2 .project__url:hover {
  border-bottom: 2px solid currentColor;
}
#section-2 .project__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  width: 100%;
  padding: 2rem 0;
}
#section-2 .project__img {
  scroll-snap-align: center;
  border-radius: 5px;
  max-width: 100%;
}
#section-2 .project__img--big {
  grid-column: span 2;
}
#section-2 .project__img--small {
  grid-column: span 1;
}

/*# sourceMappingURL=main.css.map */
